
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
list-style-type: none;
}

body {
    background: #080808;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}
.container-fluid{
    max-width: 1110px;
    margin: 0 auto;
}

.blue {
    color: #000AFF !important;
}

.green {
    color: #2AB090  !important;
}

.bg-light-green {
    background-color: rgb(0, 128, 0,.2) !important;
}
.bg-light-blue {
       background-color: rgb(0, 0, 255,.2) !important;
}
.pacha {
       background-color: #62BA1B !important;
}



nav {
    background-color: rgba(27, 27, 27, 1);
    padding: 24px auto;

     border-radius: 12px;
}

nav a {
    color: rgba(156, 156, 156, 1);
}

nav ul {
     min-height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     
}
.icons{
    
    #behance{
        height: 30px;
        width: 50px;
        
    }
    #linkedin{
        height: 30px;
        width: 50px;
    }
    #twitter{
        height: 30px;
        width: 40px;
    }
}
footer{
    padding-bottom: 40px;  
}
    
#banner .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.namedetails>h1{
            color: white;
            font-size: 50px;
            margin-bottom: 10px;
}
.namedetails>p{
            color: rgba(156, 156, 156, 1);
            width: 492;
            height: 72;
            margin-bottom: 10px;
}
.namedetails>button{
            padding: 21px 64px;
            background-color: purple;
            margin-top: 10px;
            border: 1px solid purple;
}
#icons{
    display: flex;
    justify-content: space-between;
}
footer>.container>h3{
    color: white;
}
footer>.container>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px groove rgb(255, 255, 255 ,.1);
    height: 40px;
    max-width: 110px;
    padding-left: 33px;
    padding-right: 33px;
}
#casestudies{
    background-color: white;
    
}

#works{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
   
}
#text{
    padding: 80px;
}
.chip {
    color: orange;
    background-color: rgb(255, 165, 0,.2);
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    width: 80px;
    margin-bottom: 20px;
}
#work1>div>button{
    margin-top: 40px;
    padding:10px 40px 10px 40px;
    color: white;
    background-color: orange;
    border: none;
}
#work1>div>p{
    max-width: 420px
}
#work1{
    display: flex;
    justify-content: space-between;
}
#work2>div>button{
    margin-top: 40px;
    padding:10px 40px 10px 40px;
    color: white;
    background-color: blue;
    border: none;
}
#work2>div>p{
    max-width: 420px
}
#work2{
    display: flex;
    justify-content: space-between;
}
#work3>div>button{
    margin-top: 40px;
    padding:10px 40px 10px 40px;
    color: white;
    background-color: green;
    border: none;
}
#work3>div>p{
    max-width: 420px
}
#work3{
    display: flex;
    justify-content: space-between;
}  

#casestudies{
    padding-bottom: 80px;
}
#Testimonials{
    color: white;
} 
#testi{
    padding-top: 50px;
    text-align: center;
}
#clients{
    margin-top: 80px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 62px;
}
.testimonial-card{
    border: 1px groove;
    max-width: 445px;
    min-height: 150px;  
    padding: 30px;
    border-radius: 4px;
}

.testimonial-card div { 
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.testimonial-card{
    position: relative;
}
.quotes{
    position: absolute;
    top: -20px;
    left: 50px;
    width: 32px;
}
#recent-works{
    background-color: white;
    padding-bottom: 80px;
}
.container> .Text-section{
    text-align: center;
}
.Text-section>h1{
    padding-top: 80px;
    margin-bottom: 10px;
}
#work-cards{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.work-card h1{
    padding-top: 40px;
    padding-bottom: 20px;
}
.work-card p{
    width: 420px;
}
.work-card span{
    margin: auto;
    margin-left: 5px;
    
}
.work-card button{
    margin-top: 30px;
    padding: 10px 24px 10px 30px;
    color: white;
    border: none;
}
#contact .text{
    margin-top: 80px;
    color: white;
    text-align: center;
}
.text p{
    width: 400px;
    padding-top: 10px;
    margin: auto;
}
#forms{
    padding-top: 50px;
    max-width: 350px;
    color: white    ;
    margin: 0 auto;
}
#forms input{
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;
}
textarea{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 90px;
}

.pacha{
    color: white;
    font-weight: bolder;
    width: 100%;
    padding: 16px 141px 16px 141px;
    margin-top: 20px;

}
.pacha span{
    padding-left: 5px;
}